.DS_Store
./DS_Store
Thumbs.db
./Thumbs.db
*.log
./*.log
node_modules/
./node_modules/
dist/
./dist/
.env
./.env
.vscode/        
./.vscode/
.idea/
./.idea/
*.iml
./*.iml
CC_ChatQueue/.DS_Store
CC_ChatQueue/bin/Debug/net9.0/*.dll
CC_ChatQueue/obj/Debug/net9.0/*.cache
CC_ChatQueue/bin/Debug/net9.0/CC_ChatQueue.dll
CC_ChatQueue/bin/Debug/net9.0/CC_ChatQueue.pdb
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.AssemblyInfo.cs
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.AssemblyInfoInputs.cache
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.assets.cache
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.csproj.AssemblyReference.cache
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.csproj.FileListAbsolute.txt
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.dll
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.GeneratedMSBuildEditorConfig.editorconfig
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.genruntimeconfig.cache
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.pdb
CC_ChatQueue/obj/Debug/net9.0/CC_ChatQueue.sourcelink.json
CC_ChatQueue/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
CC_ChatQueue/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
CC_ChatQueue/obj/Debug/net9.0/rpswa.dswa.cache.json
CC_ChatQueue/obj/Debug/net9.0/ref/CC_ChatQueue.dll
CC_ChatQueue/obj/Debug/net9.0/refint/CC_ChatQueue.dll
CC_ChatQueue/.DS_Store
